[Unit]
Description=Node Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/slurm/etc-r9/CROSSJACK/exporters/node_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
