[Unit]
Description=Nvidia GPU Exporter Service
After=network.target

[Service]
Type=simple
ExecStart=/slurm/etc-r9/CROSSJACK/exporters/nvidia_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
