[Unit]
Description=Prometheus Service
After=network.target

[Service]
Type=simple
ExecStart=/slurm/etc-r9/CROSSJACK/prometheus/prometheus \
  --config.file=/slurm/etc-r9/CROSSJACK/prometheus/prometheus.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
